/* You can add global styles to this file, and also import other style files */
@import "node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

:root .lpx-theme-dark {
  .abp-support {
    background-image: url('/assets/images/getting-started/abp-support-white.svg');
  }
  .abp-community {
    background-image: url('/assets/images/getting-started/abp-community-white.svg');
  }
  .abp-blog {
    background-image: url('/assets/images/getting-started/abp-blog-white.svg');
  }
  .logo-x {
    background-image: url('/assets/images/getting-started/x-white.svg');
  }
}

:root {

  --lpx-content-text-rgb: 0, 0, 0 !important;
  --lpx-content-bg-rgb: 240, 244, 247;
  --lpx-primary-rgb: 255, 121, 0;
  --lpx-secondary-rgb: 150, 97, 188;
  --lpx-brand-rgb: 255, 121, 0;
  --lpx-success-rgb: 71, 184, 129;
  --lpx-info-rgb: 67, 138, 167;
  --lpx-warning-rgb: 255, 173, 13;
  --lpx-danger-rgb: 246, 76, 76;
  --lpx-light-rgb: 198, 210, 220;
  --lpx-dark-rgb: 68, 95, 114;
  --lpx-navbar-color-rgb: 255, 255, 255;
  --lpx-navbar-text-color-rgb: 68, 95, 114;
  --lpx-navbar-active-text-color-rgb: 18, 65, 99;
  --lpx-text-white-rgb: 255, 255, 255;
  --lpx-logo-reverse: var(--logo-reverse);
  --lpx-primary: #FF7900 !important;
  --lpx-secondary: #9661BC;
  --lpx-success: #47B881;
  --lpx-info: #438aa7;
  --lpx-warning: #FFAD0D;
  --lpx-danger: #F64C4C;
  --lpx-brand: #FF7900 !important;
  --lpx-brand-text: #fff;
  --lpx-container-active-text: #fff;
  --lpx-text-white: #fff;
  --lpx-radius: 4px !important;
  --lpx-logo-icon: url('/assets/images/logo/s_icon.svg') !important;
  --lpx-light: #c6d2dc;
  --lpx-dark: #445f72;
  --lpx-breadcrumb-text-color: #595959 !important;
  --lpx-breadcrumb-active-text-color: #FF7900 !important;
  --lpx-navbar-color: #fff;
  --lpx-navbar-text-color: #595959 !important;
  --lpx-navbar-active-text-color: #595959 !important;
  --lpx-navbar-active-bg-color: #F5F5F5!important;
  --lpx-card-bg: #000;
  --lpx-head-bg: #FAFAFA!important;
  --lpx-card-title-text-color: #1f1f1f !important;
  --lpx-content-bg: #F5F5F5 !important;
  --lpx-content-text: #595959 !important;
  --lpx-border-color: #E6E6E6 !important;
  --lpx-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);

  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');

  --lpx-logo-url: url('/assets/images/logo/icon.svg');
  --lpx-logo: url('/assets/images/logo/icon.svg');

  --bs-blue: #327dff;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #2f54eb !important;
  --bs-secondary: #9661bc;
  --bs-success: #47b881;
  --bs-info: #438aa7;
  --bs-warning: #ffad0d;
  --bs-danger: #f64c4c;
  --bs-light: #e6ebef;
  --bs-dark: #062a44;
  --bs-primary-rgb:255, 121, 0 !important;
  --bs-secondary-rgb: 150, 97, 188;
  --bs-success-rgb: 71, 184, 129;
  --bs-info-rgb: 67, 138, 167;
  --bs-warning-rgb: 255, 173, 13;
  --bs-danger-rgb: 246, 76, 76;
  --bs-light-rgb: 230, 235, 239;
  --bs-dark-rgb: 6, 42, 68;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 89, 89, 89 !important;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif:
          system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans',
          'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
          'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace:
          SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 0.15),
                  rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: Inter, sans-serif;
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color:#595959 !important;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #e8eef3;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.5rem;
  --bs-border-radius-sm: 0.4375rem;
  --bs-border-radius-lg: 0.5625rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #FF7900 !important;
  --bs-link-hover-color: rgba(255,121,0, 0.75) !important;
  --bs-code-color: #FF7900;
  --bs-highlight-bg: rgb(255, 242.6, 205.4);
  --bs-modal-color: #595959;

  .card .card-title {
    color: #595959 !important;
  }
  .nav-pills {
    --bs-nav-pills-link-active-color: #FF7900 !important;
    --bs-nav-pills-link-active-bg: rgba(255,121, 0, 0.15)!important;
    --bs-nav-pills-link-hover-bg: rgba(255,121, 0, 0.15)!important;
  }
  .card{--bs-card-color:#595959 !important;}


  .abp-logo {
    background-repeat: no-repeat;
  }

  .abp-support {
    width: 178px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-support.svg');
  }

  .abp-community {
    width: 215px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-community.svg');
  }

  .abp-blog {
    width: 142px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-blog.svg');
  }

  .logo-x {
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/getting-started/x.svg');
  }
  .modal-backdrop {
    --bs-backdrop-bg: #000000;
  }

  .lpx-sidebar a {
    display: flex;
  }
  .lpx-brand-logo {
    background-size: auto 25px;
    width: 50%;
  }
  :root .hover-trigger .lpx-sidebar-container:not(:hover) .lpx-brand-logo {
    background-image: url(/assets/images/logo/s_icon.svg);
    width: 100%;
    background-size: 100%;
  }
  .lpx-brand-name {
    position: sticky;
    width: 40%;
    color: var(--lpx-navbar-text-color);
  }
  .hover-trigger .lpx-sidebar-container:not(:hover) .lpx-brand-logo {
    background-image: url('/assets/images/logo/s_icon.svg');
    width: 100%;
    background-size: 100%;
  }

  .ngx-datatable.material .datatable-header .datatable-header-cell {
    background-color: var(--lpx-head-bg);
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 400 !important;
    color: rgba(var(--lpx-content-text-rgb), 0.88);
    transition: color 0.3s;
    text-transform: uppercase;
    font-size: 14px !important;
    // letter-spacing: 0.75px;
  }
  .lpx-content-container .lpx-content {
    padding: 16px;
  }
  .lpx-user-menu .lpx-menu-item-link {
    color: var(--lpx-navbar-text-color);
  }
  .form-control,
  .form-select {
    font-weight: 400;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    transition:
            background-color 0.2s,
            border-color 0.4s;
    border-color: #e8eef3;
    color: #595959;
    height: 32px!important;
    width: 80%;
    display: inline-block;
    padding: 4px 11px;
  }
  .btn {
    --bs-btn-padding-y: 0rem;
  }
  .btn:disabled, .btn.disabled, fieldset:disabled .btn {
    height: 32px;
  }
  .btn-primary {
    --bs-btn-bg: var(--lpx-primary);
    --bs-btn-border-color: var(--lpx-primary);
    --bs-btn-hover-bg: rgba(255, 121, 0, 0.75);
    --bs-btn-hover-border-color: rgb(255, 121, 0, 0.75);
    --bs-btn-focus-shadow-rgb: 83, 117, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d96700;
    --bs-btn-active-border-color: #d96700;
    --bs-btn-active-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgba(255, 121, 0, 0.4);
    --bs-btn-disabled-border-color: rgba(255, 121, 0, 0.4);
  }
  .btn-outline-primary,.btn-outline-secondary {
    --bs-btn-color: #595959;
    --bs-btn-border-color: #8c8c8c;
    --bs-btn-hover-color: var(--lpx-primary);
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: var(--lpx-primary);
    --bs-btn-focus-shadow-rgb: 53, 93, 255;
    --bs-btn-active-color: var(--lpx-primary);
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: var(--lpx-primary);
    --bs-btn-active-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    --bs-btn-disabled-color: #8c8c8c;
    --bs-btn-disabled-bg: #BFBFBF;
    --bs-btn-disabled-border-color: #8c8c8c;
    --bs-gradient: none;
  }
  .btn-secondary {
    --bs-btn-color: #595959;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #8c8c8c;
    --bs-btn-hover-color: var(--lpx-primary);
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: var(--lpx-primary);
    --bs-btn-focus-shadow-rgb: 53, 93, 255;
    --bs-btn-active-color: var(--lpx-primary);
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: var(--lpx-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #8c8c8c;
    --bs-btn-disabled-bg: #BFBFBF;
    --bs-btn-disabled-border-color: #8c8c8c;
  }
  .card {
    --bs-card-border-radius: 4px;
  }

  .fa-home {
    background: url(/assets/images/home.svg) center no-repeat;
    background-size: 70%;
    text-indent: -9999px;
    white-space: nowrap;
  }
  .lpx-nav-menu .lpx-menu-item-link.selected .fa-home,
  .lpx-nav-menu .lpx-menu-item-link:hover .fa-home {
    background: url(/assets/images/homea.svg) center no-repeat;
    background-size: 70%;
  }
  .fa-wrench {
    background: url(/assets/images/wrench.svg) center no-repeat;
    background-size: 70%;
    text-indent: -9999px;
    white-space: nowrap;
    height: 20px;
  }
  .lpx-nav-menu .lpx-menu-item-link.expanded .fa-wrench,
  .lpx-nav-menu .lpx-menu-item-link.selected .fa-wrench,
  .lpx-nav-menu .lpx-menu-item-link:hover .fa-wrench {
    background: url(/assets/images/wrencha.svg) center no-repeat;
    background-size: 70%;
  }
  .fa-book {
    background: url(/assets/images/bsetting.svg) center no-repeat;
    background-size: 70%;
    text-indent: -9999px;
    white-space: nowrap;
    height: 20px;
  }
  .lpx-nav-menu .lpx-menu-item-link.expanded .fa-book,
  .lpx-nav-menu .lpx-menu-item-link.selected .fa-book,
  .lpx-nav-menu .lpx-menu-item-link:hover .fa-book {
    background: url(/assets/images/bsettinga.svg) center no-repeat;
    background-size: 70%;
  }
  .fa-folder-open {
    background: url(/assets/images/folder.svg) center no-repeat;
    background-size: 70%;
    text-indent: -9999px;
    white-space: nowrap;
    height: 20px;
  }
  .lpx-nav-menu .lpx-menu-item-link.expanded .fa-folder-open,
  .lpx-nav-menu .lpx-menu-item-link.selected .fa-folder-open,
  .lpx-nav-menu .lpx-menu-item-link:hover .fa-folder-open {
    background: url(/assets/images/foldera.svg) center no-repeat;
    background-size: 70%;
  }
  .fa-users {
    background: url(/assets/images/saas.svg) center no-repeat;
    background-size: 70%;
    text-indent: -9999px;
    white-space: nowrap;
    height: 20px;
  }
  .lpx-nav-menu .lpx-menu-item-link.expanded .fa-users,
  .lpx-nav-menu .lpx-menu-item-link.selected .fa-users,
  .lpx-nav-menu .lpx-menu-item-link:hover .fa-users {
    background: url(/assets/images/saasa.svg) center no-repeat;
    background-size: 70%;
  }
  .fa-comments {
    background: url(/assets/images/chat.svg) center no-repeat;
    background-size: 70%;
    text-indent: -9999px;
    white-space: nowrap;
    height: 20px;
    width: 36px;
  }
  .form-control:hover,
  .form-control:focus,
  .form-select:hover,
  .form-select:focus {
    box-shadow: 0px 5px 12px 0px rgba(47, 84, 235, 0.09);
    background-color: #f5f5f5;
    border-color: #ff7900;
  }
  .fa-ipensee {
    background: url(/assets/images/analysis.svg) center no-repeat;
    background-size: 70%;
    text-indent: -9999px;
    white-space: nowrap;
    height: 20px;
  }
  .lpx-nav-menu .lpx-menu-item-link.expanded .fa-ipensee,
  .lpx-nav-menu .lpx-menu-item-link.selected .fa-ipensee,
  .lpx-nav-menu .lpx-menu-item-link:hover .fa-ipensee{
    background: url(/assets/images/analysisa.svg) center no-repeat;
    background-size: 70%;
  }
  .fa-msa {
    background: url(/assets/images/msa.svg) center no-repeat;
    background-size: 70%;
    text-indent: -9999px;
    white-space: nowrap;
    height: 20px;
  }
  .lpx-nav-menu .lpx-menu-item-link.expanded .fa-msa,
  .lpx-nav-menu .lpx-menu-item-link.selected .fa-msa,
  .lpx-nav-menu .lpx-menu-item-link:hover .fa-msa{
    background: url(/assets/images/msaa.svg) center no-repeat;
    background-size: 70%;
  }
  .fa-spc {
    background: url(/assets/images/spc.svg) center no-repeat;
    background-size: 70%;
    text-indent: -9999px;
    white-space: nowrap;
    height: 20px;
  }
  .lpx-nav-menu .lpx-menu-item-link.expanded .fa-spc,
  .lpx-nav-menu .lpx-menu-item-link.selected .fa-spc,
  .lpx-nav-menu .lpx-menu-item-link:hover .fa-spc{
    background: url(/assets/images/spca.svg) center no-repeat;
    background-size: 70%;
  }
  .btn-danger {
    --bs-btn-bg: #f64c4c;
    --bs-btn-border-color: #f64c4c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(246, 76, 76, 0.75);
    --bs-btn-hover-border-color: rgba(246, 76, 76, 0.75);
    --bs-btn-focus-shadow-rgb: 201, 49, 100;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d14141;
    --bs-btn-active-border-color: #d14141;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f64c4c;
    --bs-btn-disabled-border-color: #f64c4c;
  }
  .nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: #e8eef3;
    --bs-nav-tabs-border-radius: 0.5rem;
    --bs-nav-tabs-link-hover-border-color: rgba(50, 81, 104, 0.08);
    --bs-nav-tabs-link-active-color: #ff7900;
    --bs-nav-tabs-link-active-bg: unset;
    --bs-nav-tabs-link-active-border-color: #ff7900;
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
  }
  .nav-tabs .nav-item .nav-link.active {
    border-bottom: 3px solid #ff7900;
  }
  .form-label {
    width: 40%;
    text-align: right;
  }
  .form-label:after {
    content: ':';
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 2px;
  }
  .form-select {
  }
  button:not(:disabled),
  [type='button']:not(:disabled),
  [type='reset']:not(:disabled),
  [type='submit']:not(:disabled) {
    cursor: pointer;
    height: 32px !important;
    //padding: 0 15px !important;
    line-height: 32px;
  }
  .input-group .btn {
    position: relative;
    z-index: 2;
    height: 32px !important;
    // top: -2px;
  }
  .input-group {
    position: relative;
    // display: flex;
    // width: 80%;
    // display: inline-block;
  }
  .input-group > .form-control {
    //width: 91%;
  }
  .modal-header {
    padding: 8px 24px !important;
    border-bottom: 1px solid #e8e8e8;
  }
  .modal-header h3 {
    margin-bottom: 0;
  }
  .modal-footer {
    padding: 8px 24px !important;
    border-top: 1px solid #e8e8e8;
  }
  select.form-select option:checked,
  select.form-select option:focus,
  select.form-select option:active {
    background: #ff7b16 !important;
    color: #fff !important;
    border-radius: 0.25rem !important;
  }
  .form-check-input:checked {
    border-color: #ff7b16 !important;
    background-color: #ff7b16 !important;
  }
  .modal-body .mb-2,
  .modal-body .mb-3 {
    display: flex;
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #ff7900;
    --bs-dropdown-link-disabled-color: rgba(50, 81, 104, 0.5);
    --bs-dropdown-header-color: #ff7900;
  }
  .form-check-input[disabled],
  .form-check-input {
    background-color: #f5f5f5;
  }
  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 4px 11px !important;
  }
  .form-check .form-check-input {
    margin-right: 10px;
  }

  .btn-brand {
    --bs-btn-bg: #ff7900;
    --bs-btn-color: #ffffff;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: rgba(255, 121, 0, 0.6);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d96700;
    --bs-btn-active-border-color: #d96700;
    //--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgba(255, 121, 0, 0.4);
    --bs-btn-disabled-border-color: rgba(255, 121, 0, 0.4);
  }
  .btn-brand.soft {
    --bs-btn-color: #ff7900;
    --bs-btn-bg: rgba(255, 121, 0, 0.1);
    --bs-btn-border-color: rgba(255, 121, 0, 0);
    --bs-btn-hover-color: #ff7900;
    --bs-btn-hover-bg: rgba(255, 121, 0, 0.2);
    --bs-btn-hover-border-color: rgba(255, 121, 0, 0);
  }
  .bg-brand.soft {
    color: #ff7900 !important;
    background-color: rgba(255, 121, 0, 0.1) !important;
  }
  .lpx-theme-light .lpx-login-bg {
    background-image: var(--lpx-theme-light-bg);
    background-color: #ececec;
  }
  .modal-header h1, .modal-header .h1, .modal-header h2, .modal-header .h2, .modal-header h3, .modal-header .h3, .modal-header h4, .modal-header .h4, .modal-header h5, .modal-header .h5, .modal-header h6, .modal-header .h6 {
    color: #595959;
  }
  .modal-content {
    color: #595959;}
  .form-check-input[type=checkbox]:indeterminate {
    background-color: #ff7900;
    border-color: #ff7900;

  }
  .lpx-scroll-pills-container[_ngcontent-ng-c4080201975] ul[_ngcontent-ng-c4080201975] li[_ngcontent-ng-c4080201975] a.active[_ngcontent-ng-c4080201975] {
    color: #fff !important;
    border-color: #ff7900 !important;
    background-color: #ff7900 !important;
  }
  .badge.bg-primary {
    background-color: #ff7900 !important;
  }
  .action-buttons button:has(nz-icon) {
    border: none;
    background: transparent;
    width: 38px;
    padding: 0 3px;
    position: relative;
    nz-icon {
      font-size: 16px;
      padding: 8px;
      border-radius: 4px;
      position: absolute;
      left: 3px;
      top: 0px;
    }
  }
  .action-buttons button:has(nz-icon) :hover {
    background: #f5efeb;
    color: #ff963a;
    nz-icon {
      color: #ff963a;
    }
  }
  .ant-tooltip-inner {
    color: #000;
    border-radius: 8px;
  }
  .action-buttons > div {
    display: flex;
  }
  abp-lookup-select .form-select{
    width: -webkit-fill-available;}

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #FF7900!important;
  }
  .ant-tabs-tab .ant-tabs-tab-btn:hover {
    color: #FF7900!important;
  }
  .ant-tabs-ink-bar {
    background: #FF7900!important;
  }
  .text-brand {
    color: #FF7900 !important;
  }
  .lpx-mobile-nav-tab-container .lpx-mobile-nav-tabs .lpx-mobile-nav-tab a:after {

    background-color: #FF7900;

  }
  .form-control:disabled, .form-select:disabled {
    color: rgba(0, 0, 0, 0.5);
    border-color: #e8eef3;
    background-color: #f5f5f5;;
  }
  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .btn {
    padding: 0 0.75rem;
    font-size: 0.8em;
  }
}
